<div class="sidenav">
    <button class="sidebar-toggle is-closed">Option</button>
    <div class="quantity">
        Quantity
        <input id="quantity" type="number" min="1" step="1" placeholder="Type here">
    </div>
</div>
<div class="sidebar is-closed">
    <select class="select">
        <option selected disabled>Dropdown</option>
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
</div>