<!DOCTYPE html>
<html lang="en">

  <head>
      <% include components/header.ejs %>
  </head>

  <body>
    <div class="main">
      <% include components/sidenav.ejs %>
      <% include components/body.ejs %>
      <% include components/footer.ejs %>
    </div>
  </body>

</html>